.barra{
    background-color: #731963;

    display: flex;
    justify-content: space-between;
}

.textos{
    display: flex;
    gap: 1.5rem;

}

.typo{
    cursor: pointer;
    color: inherit;
    cursor: pointer;
}