.fundoLogin {
    background-image: url("https://i.imgur.com/chU9RlH.png");
    background-repeat: no-repeat;
    width: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /*Se não colocar isso não aparece a imagem na página*/
}


.text-decorator-none {
    text-decoration: none;
}

.textos1{
    font-weight: bold !important;
}