.fundoCadastro {
    background-image: url("https://imgur.com/VfiWWL3.png");
    background-repeat: no-repeat;
    width: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /*Se não colocar isso não aparece a imagem na página*/
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 1vw !important;
}

.cadastroBtn{
    background-color: #C589E8 !important;
    color: white
}